<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDDNVfB6lvuvVlg9LAxeH2zsp01CEegvYI</string>
	<key>GCM_SENDER_ID</key>
	<string>492828393035</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.asia.getithk</string>
	<key>PROJECT_ID</key>
	<string>novas-eb028</string>
	<key>STORAGE_BUCKET</key>
	<string>novas-eb028.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:492828393035:ios:526f01fea0b95409bb97ce</string>
</dict>
</plist>